.Button {
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px 15px;
}
.Primary {
}
.Secondary {
}
.Success {
  color: #fff;
  background-color: rgb(51, 228, 80);
}
.Error {
  color: #fff;
  background-color: rgb(240, 45, 45);
}
